# Secrets / config
config.yaml
.env

# Python
__pycache__/
*.pyc
venv/
.venv/
*.egg-info/

# Data & logs
data/*.csv
logs/*.log
*.log
*.csv

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# PyInstaller Build Artifacts
build/
dist/
*.spec